body{
	background-color: lightgoldenrodyellow;
	font-family: "Times New Roman", Times, serif;
}

img{
	float: left;
	border-radius: 10px;
	width: 55%;
	height: 55%;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
	}

h1{
	border: dotted 5px;
	border-radius: 18px
	}

h3{
	float: right;
	color: rgb(172, 3, 3)
}